
{% extends "main.html" %}
{% block content %}
<style>
    .md-sidebar--secondary {
        display: none !important;
    }

</style>

<h1>Digital products</h1>

<div class="work-reference">
    <div class="projects-grid">
        {% for work in config.extra.work %}
        {% if work.category == 'digital' %}
        <div class="project-link digital">
          <a href="{{ work.url }}">
            <div class="project-image">
                <img src="../{{ work.image }}" alt="{{ work.title }}">
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block tabs %}
{{ super() }}

{% endblock %}