<!-- Elements added to "home.html" will only be displayed on the home page -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<style>
/*HOME PAGE*/
body {
    background-image: url(/img/BW-lines.png);
    background-repeat: no-repeat;
    background-position:top center;
}

.md-main {
  display: none;
}

.md-footer__inner {
  display: none !important;
}
</style>

<!-- Main site entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">

        <div class="tx-hero__image">
	       <img src="{{ config.extra.home_cover_image }}" draggable="false">
        </div>
	
        <div class="tx-hero__content">
          <h1>{{ config.extra.home_tagline }}</h1>
          <p>{{ config.extra.home_description }}</p>
	  
        {%- if config.extra.home_button1_name -%}
          <p><a href="mailto:anelia.em.stoyanova@gmail.com" title="Let's talk" class="{{ config.extra.home_button1_theme }}" target="_blank">
            {{ config.extra.home_button1_name }}</a>
          </p>
	    {%- endif -%}
        </div>
      </div>
    </div>
</section>



{% import 'macros.html' as macros %}

<div class="full-width-home-section">
  <h2 class="home-section-title">Experience Highlights</h2>
  <div class="companysList md-grid">
      {% for list in config.extra.companies %}
      <ul class="companiesListUl">
          {% for item in list %}
          <li class="itemLogo">
              {{ macros.svg_icon( item ) }}
          </li>
          {% endfor %}
      </ul>
      {% endfor %}    
  </div>
</div>

<div class="cards-container md-grid">
    <h2 class="home-section-title">Latest Work</h2>
    <div class="card-grid">
        {% for card in config.extra.cards %}
        <div class="card">
          <a href="{{ card.url }}">
            <div class="card-image">
                <img src="{{ card.image }}" alt="{{ card.title }}">
            </div>
            <div class="card-content">
                <h3>{{ card.title }}</h3>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- The toolbox place -->

<div class="full-width-home-section">
  <h2 class="home-section-title">My toolbox</h2>
  <div class="toolsList md-grid">
      {% for list in config.extra.toolbox %}
      <ul class="toolsListUl">
          {% for item in list %}
          <li class="itemLogo">
              {{ macros.svg_icon( item ) }}
          </li>
          {% endfor %}
      </ul>
      {% endfor %}    
  </div>
</div>

{% endblock %}

<!-- Toggleable JavaScript execution -->
{%- if config.home_execute_js -%}
<script>
document$.subscribe(function() {
  console.log("'home_execute_js' is enabled:");
  {{ config.home_execute_js }}
}).unsubscribe();
</script>
{%- endif -%}

<!-- Application footer -->
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}