<!-- Elements added to "home.html" will only be displayed on the home page -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<style>
/*HOME PAGE*/
body {
    background-image: url(/img/BW-lines.png);
    background-repeat: no-repeat;
    background-position:top center;
}
</style>

<!-- Main site entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">

        <div class="tx-hero__image">
	       <img src="{{ config.home_cover_image }}" draggable="false">
        </div>
	
        <div class="tx-hero__content">
          <h1>{{ config.home_tagline }}</h1>
          <p>{{ config.home_description }}</p>
	  
        {%- if config.home_button1_name -%}
          <p><a href="{{ config.home_button1_url }}" title="Let's talk" class="{{ config.home_button1_theme }}">
            {{ config.home_button1_name }}</a>
          </p>
	    {%- endif -%}
        </div>
      </div>
    </div>
</section>

<!-- The toolbox place -->

{% import 'macros.html' as macros %}

<div class="toolbox">
    <h2 class="section-title">My toolbox</h2>
    <div class="toolsList md-grid">
        {% for list in config.extra.lists %}
        <ul class="toolsListUl">
            {% for item in list %}
            <li class="itemLogo">
                {{ macros.svg_icon( item ) }}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}    
    </div>
</div>

<div class="cards-container md-grid">
    <h2 class="section-title">Latest Work</h2>
    <div class="card-grid">
        {% for card in config.extra.cards %}
        <div class="card">
          <a href="{{ card.url }}">
            <div class="card-image">
                <img src="{{ card.image }}" alt="{{ card.title }}">
            </div>
            <div class="card-content">
                <h3>{{ card.title }}</h3>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}

{% block content %}{% endblock %}
{% block footer %}{% endblock %}