<!-- Elements added to "work.html" will only be displayed on the work page -->

{% extends "main.html" %}
{% block content %}
<style>
    .md-sidebar--secondary {
        display: none !important;
    }
</style>

<h1>Work</h1>

<div class="work-reference">

    <div class="projects-grid">
        {% for work in config.extra.work %}
        <div class="project-link">
          <a href="{{ work.url }}">
            <div class="project-image">
                <img src="{{ work.image }}" alt="{{ work.title }}">
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block tabs %}
{{ super() }}

{% endblock %}