.cache/plugin/social/Roboto-Black.ttf
.cache/plugin/social/Roboto-BlackItalic.ttf
.cache/plugin/social/Roboto-Bold.ttf
.cache/plugin/social/Roboto-BoldItalic.ttf
.cache/plugin/social/Roboto-Italic.ttf
.cache/plugin/social/Roboto-Light.ttf
.cache/plugin/social/Roboto-LightItalic.ttf
.cache/plugin/social/Roboto-Medium.ttf
.cache/plugin/social/Roboto-MediumItalic.ttf
.cache/plugin/social/Roboto-Regular.ttf
.cache/plugin/social/Roboto-Thin.ttf
.cache/plugin/social/Roboto-ThinItalic.ttf
.env
.venv
/site
.DS_Store
note.txt
